include requirements.txt
include README.md
include LICENSE
recursive-include honeypot/backend/templates *
recursive-include honeypot/data *
recursive-include honeypot/frontend/public *
recursive-include honeypot/frontend/src *
